body {
    background-color: #c4c4c4;
}
.t1 {
    position: absolute;
    top: 50%;
    bottom: 20%;
    right: 65%;
    left: 35%;
    text-transform: uppercase;
    transform: translate(50%,-50%);
    font-family: Verdana;
    font-weight: 700;
    font-size: 12em;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgb(16, 16, 16, 0.4),
    1px 22px 10px rgb(16, 16, 16, 0.4),
    1px 25px 35px rgb(16, 16, 16, 0.4),
    1px 30px 60px rgb(16, 16, 16, 0.4);
}
.t2 {
    position: absolute;
    top: 50%;
    bottom: 20%;
    right: 55%;
    left: 45%;
    text-transform: uppercase;
    transform: translate(50%,-50%);
    font-family: Verdana;
    font-weight: 700;
    font-size: 12em;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgb(16, 16, 16, 0.4),
    1px 22px 10px rgb(16, 16, 16, 0.4),
    1px 25px 35px rgb(16, 16, 16, 0.4),
    1px 30px 60px rgb(16, 16, 16, 0.4);
}
.t3 {
    position: absolute;
    top: 50%;
    bottom: 20%;
    right: 45%;
    left: 55%;
    text-transform: uppercase;
    transform: translate(50%,-50%);
    font-family: Verdana;
    font-weight: 700;
    font-size: 12em;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgb(16, 16, 16, 0.4),
    1px 22px 10px rgb(16, 16, 16, 0.4),
    1px 25px 35px rgb(16, 16, 16, 0.4),
    1px 30px 60px rgb(16, 16, 16, 0.4);
}
.t4 {
    position: absolute;
    top: 50%;
    bottom: 20%;
    right: 40%;
    left: 63%;
    text-transform: uppercase;
    transform: translate(50%,-50%);
    font-family: Verdana;
    font-weight: 700;
    font-size: 12em;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgb(16, 16, 16, 0.4),
    1px 22px 10px rgb(16, 16, 16, 0.4),
    1px 25px 35px rgb(16, 16, 16, 0.4),
    1px 30px 60px rgb(16, 16, 16, 0.4);
}

/*---------*/

.t1 .tt1 {
    display: inline-block;
    text-decoration: none;
    color: #f5f5f5;
}
.t2 .tt2 {
    display: inline-block;
    text-decoration: none;
    color: black;
}
.t3 .tt3 {
    display: inline-block;
    text-decoration: none;
    color: #f5f5f5;
}
.t4 .tt4 {
    display: inline-block;
    text-decoration: none;
    color: black;
}


/*--------*/
.tt1:hover{
    color: black;
}
.tt2:hover{
    color: white;
}
.tt3:hover{
    color: black;
}
.tt4:hover{
    color: white;
}